{$API_DOMAIN} {
    encode zstd gzip
    request_body {
        max_size {$MAX_REQUEST_BODY_SIZE:6MB}
    }
    reverse_proxy api:8000 {
        header_up X-Forwarded-For {http.request.remote.host}
        header_up X-Real-IP {http.request.remote.host}
    }
}
